* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: auto !important;
}

.nav {
  display:grid;
  grid-template-columns: 1fr max-content max-content max-content max-content;
  align-items: center;
  background: black;
}

.nav-link {
  width: auto;
  padding: 10px;
  margin: 5px 0 5px;
  text-decoration: none;
  text-align: center;
  font-size: 1.5em;
  color: white;
  background: black;
  border: 2px solid black
}

.nav-link:hover {
  color: white;
  border: 2px solid white;
}

.size-link {
  width: fit-content;
  font-size: 1.2em;
  font-weight: normal;
  padding: 5px 10px;
  border: 1px solid darkgrey;
  margin: 5px 0;
}

.size-link:hover {
  background: lightgrey;
}

.size-link:active {
  background: white;
  border: 1px solid tomato;
  box-shadow: 0 0 2px 1px orange;
}

.size-active-link {
  width: fit-content;
  font-size: 1.2em;
  font-weight: bold;
  padding: 5px 10px;
  border: 1px solid tomato;
  margin: 5px 0;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.item-thumbnail {
  border: 1px solid grey;
  border-radius: 8px;
  margin-bottom: 8px;
}

.item-thumbnail:hover {
  box-shadow: 0 0 5px aqua;
}

.link {
  cursor: pointer;
}

.link1 {
  color: darkcyan;
}

.link1:hover {
  color: brown;
  text-decoration: underline;
  text-decoration-color: brown;
}

.link2 {
  color: darkcyan;
}

.link2:hover {
  text-decoration: underline;
}

.link3 {
  color: darkcyan;
}

.link3:hover {
  color: brown;
}

.link4:hover {
  text-decoration: underline;
  text-decoration-color: brown;
}

.link5:hover {
  color: brown;
  text-decoration: underline;
  text-decoration-color: brown;
}

.formik-warning {
  color: #ff8080;
}

.formik-info {
  color: deepskyblue;
}